@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "basecoat-css";
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    --font-geist: "Geist", sans-serif;
    --font-geist-mono: "Geist Mono", monospace;
    --font-outfit: "Outfit", sans-serif;
    --font-primary: var(--font-outfit);

    --radius: 0.65rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.315 0.115 6.428);
    --primary-foreground: oklch(0.97 0.014 254.604);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.546 0.245 262.881);
    --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.708 0 0);

    --breakpoint-*: initial;
    --breakpoint-2xsm: 375px;
    --breakpoint-xsm: 425px;
    --breakpoint-3xl: 2000px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;

    --text-title-2xl: 72px;
    --text-title-2xl--line-height: 90px;
    --text-title-xl: 60px;
    --text-title-xl--line-height: 72px;
    --text-title-lg: 48px;
    --text-title-lg--line-height: 60px;
    --text-title-md: 36px;
    --text-title-md--line-height: 44px;
    --text-title-sm: 30px;
    --text-title-sm--line-height: 38px;
    --text-theme-xl: 20px;
    --text-theme-xl--line-height: 30px;
    --text-theme-sm: 14px;
    --text-theme-sm--line-height: 20px;
    --text-theme-xs: 12px;
    --text-theme-xs--line-height: 18px;
}